<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Info</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="icon" href="/favicon.png">
</head>
<body>
<div class="container">
    <div class="col-md-8">
        <div class="well">
                <table class="u-full-width">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Type</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><%= animal.name%></td>
                        <td><%= animal.age%></td>
                        <td><%= animal.type%></td>
                        <td><a href="/animals/<%= animal._id%>/edit">Edit</a></td>
                    </tr>
                    </tbody>
                </table>
            <a href="/">Back</a>
        </div>
    </div>
</div>
</body>
</html>